<!doctype html>
<title>贷款管理</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<section class="content">
  <header>
    <h1 style="text-align:center;">贷款管理</h1>
  </header>

  <div class="divForm">
  <form method="post">
    <input type="submit" name="create"  value="发放新贷款" style="font-size:20px"><br><br><br>
    <input type="submit" name="delete" value="删除贷款" style="font-size:20px"><br><br><br>
    <input type="submit" name="search_single" value="查询单笔贷款" style="font-size:20px"><br><br><br>
    <input type="submit" name="search" value="查询所有贷款" style="font-size:20px"><br><br><br>
    <input type="submit" name="pay" value="支付贷款" style="font-size:20px"><br><br><br>
    <input type="submit" name="back"   value="回到上一级菜单" style="font-size:20px"><br><br><br>
  </form>
  <div>
  
</section>

<style type="text/css">  
input {color: red}

body{  
text-align: center;  
margin:0 auto;  
background-color: #dcffff; 
}  
.divForm{  
display: inline-block;  
}  
</style>  