<!doctype html>
<title>开支票账户</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<section class="content">
  <header>
    <h1 style="text-align:center;">开支票账户</h1>
  </header>

  <form method="post">
    <label for="cusID">客户身份证号</label>
        <input type="cusID" name="cusID" id="cusID" required>
    
    <label for="accountID">账户号</label>
        <input type="accountID" name="accountID" id="accountID" required>

    <label for="money">余额</label>
        <input type="money" name="money" id="money" required>
    
    <label for="settime">开户日期</label>
        <input type="settime" name="settime" id="settime" required>

    <label for="overdraft">透支额</label>
        <input type="overdraft" name="overdraft" id="overdraft" required>

    <input type="submit" value="开户">

  </form>
  
</section>